@import "../../common/assets/scss/mixins";

.header {
  @include FlexCenter;
  height: 84px;
  background-color: #FFFFFF;

  .container {
    @include PageContainer;
    @include FlexCenter(row, none, center);
    @media (max-width: 500px) {
      justify-content: space-between;
    }
  }
}